[submodule "data/scripts/dc_d20"]
	path = data/scripts/dc_d20
	url = https://github.com/DCurrent/openbor-script-D20/
[submodule "data/scripts/dc_spinner"]
	path = data/scripts/dc_spinner
	url = https://github.com/DCurrent/openbor-script-spinner
[submodule "data/scripts/dc_initialize"]
	path = data/scripts/dc_initialize
	url = https://github.com/DCurrent/openbor-script-initialize
[submodule "data/scripts/dc_velocity"]
	path = data/scripts/dc_velocity
	url = https://github.com/DCurrent/openbor-script-velocity
[submodule "data/scripts/dc_damage"]
	path = data/scripts/dc_damage
	url = https://github.com/DCurrent/openbor-script-damage
[submodule "data/scripts/dc_disney"]
	path = data/scripts/dc_disney
	url = https://github.com/DCurrent/openbor-script-disney
[submodule "data/scripts/dc_kanga"]
	path = data/scripts/dc_kanga
	url = https://github.com/DCurrent/openbor-script-kanga
[submodule "data/scripts/dc_string"]
	path = data/scripts/dc_string
	url = https://github.com/DCurrent/openbor-script-string
